@import '~@quartz/styles/scss/borders';
@import '~@quartz/styles/scss/color-scheme';
@import '~@quartz/styles/scss/fonts';
@import '~@quartz/styles/scss/helpers/resets';

.container {
	@include font-maison;
}

.subtext {
	@include font-maison-500-1;

	color: $color-typography-faint;

	&:empty {
		display: none;
	}

	&.invalid,
	&.status-error {
		color: $color-red;
	}
}

.status {
	position: absolute;
	display: flex;
	align-items: center;
	right: 15px;
	bottom: 13px;
}

.check {
	--color: #{$color-accent};
}

.status-text {
	font-size: 14px;
}

.toggle {
	position: absolute;
	right: 15px;
	bottom: 13px;
}
