@import '~@quartz/styles/scss/borders';
@import '~@quartz/styles/scss/color-scheme';
@import '~@quartz/styles/scss/fonts';
@import '~@quartz/styles/scss/helpers/positioning';
@import '~@quartz/styles/scss/helpers/resets';
@import '~@quartz/styles/scss/states';
@import '~@quartz/styles/scss/tokens';

.button {
	@include reset-button;
	@include fade-on-hover;

	cursor: pointer;
	position: relative;

	&:disabled {
		@include reset-fade-on-hover;

		opacity: 0.5;
		cursor: default;
	}

	&.block {
		display: block;
		width: 100%;
	}
}

.label-text.loading {
	opacity: 0;
}

.spinner {
	@include center;
}

.label {
	@include font-maison;

	font-size: 16px;
	white-space: nowrap;
	line-height: 1;

	&.block {
		font-weight: 800;
		display: block;
		box-sizing: border-box;
		text-align: center;
		border-radius: $size-border-radius;
		padding: 14px;
	}
}

.variant-primary {
	color: $color-accent;

	&.block {
		color: $color-background-2;
		background-color: $color-accent;
	}
}

.variant-secondary {
	color: $color-typography-faint;

	&.block {
		color: $color-typography;
		background-color: $color-background-3;
	}
}

.variant-warning {
	color: $color-red;

	&.block {
		color: $color-white;
		background-color: $color-red;
	}
}
