@import '~@quartz/styles/scss/borders';
@import '~@quartz/styles/scss/color-scheme';
@import '~@quartz/styles/scss/fonts';
@import '~@quartz/styles/scss/helpers/positioning';
@import '~@quartz/styles/scss/helpers/resets';
@import '~@quartz/styles/scss/states';
@import '~@quartz/styles/scss/tokens';

.button {
	@include reset-button;
	@include fade-on-hover;

	display: block;
	width: 100%;
	cursor: pointer;
	position: relative;

	&:disabled {
		@include reset-fade-on-hover;

		opacity: 0.5;
		cursor: default;
	}
}

.label-text.loading {
	opacity: 0;
}

.spinner {
	@include center;
}

.variant-primary,
.variant-secondary,
.variant-warning {
	@include font-maison-800-2;

	display: block;
	box-sizing: border-box;
	line-height: 1;
	text-align: center;
	border-radius: $size-border-radius;
	font-size: 16px;
	padding: 14px;
	white-space: nowrap;
}

.variant-primary {
	color: $color-background-2;
	background-color: $color-accent;
}

.variant-secondary {
	color: $color-typography;
	background-color: $color-background-3;
}

.variant-warning {
	color: $color-white;
	background-color: $color-red;
}

.variant-inline,
.variant-warning-inline {
	@include reset-button;
	@include fade-on-hover;
	@include font-maison;

	color: $color-accent;
}

.variant-warning-inline {
	color: $color-red;
}
