@use '~@quartz/styles/scss/color-scheme';
@use '~@quartz/styles/scss/fonts';
@use '~@quartz/styles/scss/tokens';

.container {
	@include fonts.maison-extended-700-1;

	background-color: color-scheme.$highlight;
	border-radius: tokens.$size-border-radius;
	display: inline-block;
	padding: 0.5em;
	vertical-align: middle;
	white-space: nowrap;
}

.icon {
	margin-right: 4px;
}
