@use '~@quartz/styles/scss/tokens';

.container {
	display: flex;
}

.thumbnail-container {
	flex-shrink: 0;
	width: 80px;
	margin-right: 12px;
	border-radius: tokens.$size-border-radius;
	overflow: hidden;
}
