@use '~@quartz/styles/scss/borders';
@use '~@quartz/styles/scss/color-scheme';
@use '~@quartz/styles/scss/fonts';
@use '~@quartz/styles/scss/helpers/positioning';
@use '~@quartz/styles/scss/helpers/resets';
@use '~@quartz/styles/scss/tokens';

.container {
	@include fonts.maison;
}

.select-container {
	position: relative;
}

.select {
	@include resets.select;

	display: inline-block;
	height: 45px;
	width: 100%;
	min-width: 210px;
	border-radius: tokens.$size-border-radius;
	border: borders.$solid-interactive;
	cursor: pointer;
	font-size: 16px;
	color: color-scheme.$typography;
	padding: 0 15px 0 40px;
	background-color: color-scheme.$background-2;

	&:disabled {
		opacity: 0.5;

		&:hover {
			border-color: color-scheme.$border-interactive;
		}
	}

	&[aria-invalid="true"] {
		color: tokens.$color-red;
		border-color: tokens.$color-red;
	}

	&.is-placeholder {
		color: color-scheme.$typography-faint;
	}

	&:hover,
	&:focus {
		border-color: color-scheme.$accent;
	}
}

.down-arrow {
	@include positioning.vertical-center;

	--color: #{color-scheme.$typography};

	left: 16px;

	.select:hover + & {
		--color: #{color-scheme.$accent};
	}

	.select:disabled + &,
	.select:disabled:hover + & {
		--color: #{color-scheme.$typography};

		opacity: 0.5;
	}

	&.invalid {
		--color: #{tokens.$color-red};
	}
}

.subtext {
	margin-top: 10px;
	font-size: 12px;
	color: color-scheme.$typography-faint;
	display: block;

	&.invalid {
		color: tokens.$color-red;
	}
}

.label {
	@include fonts.maison-extended-700-1;

	display: block;
	margin-bottom: 7px;
}
