@import '~@quartz/styles/scss/borders';
@import '~@quartz/styles/scss/color-scheme';
@import '~@quartz/styles/scss/fonts';
@import '~@quartz/styles/scss/media-queries';

.container {
	margin-top: 20px;
	text-align: center;

	@include for-tablet-landscape-up {
		margin-top: 48px;
	}

	&.border {
		border-bottom: $border-solid-decorative;
	}

	&.show-padding {
		padding-bottom: 28px;

		@include for-tablet-landscape-up {
			padding-bottom: 60px;
		}
	}
}

.children {
	margin-top: 16px;

	@include for-tablet-landscape-up {
		margin-top: 24px;
	}
}

.title {
	@include font-maison-800-10;

	margin: 0;
}

.tagline {
	margin: 12px auto;
	max-width: 500px;
}

.intro {
	@include font-maison-500-3;

	color: $color-typography-faint;
	margin: 16px auto;
	max-width: 500px;

	@include for-tablet-portrait-up {
		margin: 24px auto;
		max-width: 600px;
	}

	@include for-tablet-landscape-up {
		max-width: 760px;
	}
}
