@use '~@quartz/styles/scss/borders';
@use '~@quartz/styles/scss/color-scheme';
@use '~@quartz/styles/scss/fonts';
@use '~@quartz/styles/scss/helpers/resets';
@use '~@quartz/styles/scss/tokens';

.label {
	@include fonts.maison-extended-700-1;

	color: color-scheme.$typography;
	display: block;
	line-height: 1.25;

	&.required {
		display: flex;
		flex-wrap: wrap;

		&::after {
			content: '*';

			@include fonts.maison-800-3;

			color: color-scheme.$accent;
			padding: 0 4px;
			line-height: 0.8;
		}
	}
}

.input,
.textarea {
	@include resets.text-input;
	@include fonts.maison-500-3;

	background-color: color-scheme.$background-2;
	border: borders.$solid-interactive;
	box-sizing: border-box;
	border-radius: tokens.$size-border-radius;
	color: color-scheme.$typography;
	font-size: 16px;
	width: 100%;
	margin: 8px 0;

	&::placeholder {
		color: color-scheme.$typography-faint;
	}

	&:hover,
	&:focus {
		border-color: color-scheme.$accent;
	}

	&[disabled],
	&[readonly] {
		background-color: transparent;
		// color: color-scheme.$typography-faint;
		color: tokens.$color-red;

		&:hover {
			border-color: color-scheme.$border-decorative;
		}
	}
}

.input {
	display: inline-block;
	height: 44px;
	padding: 0;
	text-indent: 12px;
	transition: border-color, 0.25s;
}

.textarea {
	display: block;
	line-height: 1.25;
	padding: 12px;
	resize: none;
}

.input::-webkit-credentials-auto-fill-button {
	/* moves the key icon in Safari outside our login fields */
	margin-right: -24px;
}
