@import '~@quartz/styles/scss/borders';
@import '~@quartz/styles/scss/color-scheme';
@import '~@quartz/styles/scss/fonts';
@import '~@quartz/styles/scss/helpers/resets';

.container {
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;
}

.label {
	@include font-maison-extended-700-1;

	text-transform: uppercase;
	color: $color-typography;
	display: block;
	line-height: 1.25;
}

.required-label {
	display: flex;
	flex-wrap: wrap;

	&::after {
		content: '*';

		@include font-maison-800-3;

		color: $color-accent;
		padding: 0 4px;
		line-height: 0.8;
	}
}

.input {
	@include reset-text-input;
	@include font-maison-500-3;

	position: relative;
	display: inline-block;
	height: 44px;
	width: 100%;
	border-radius: $size-border-radius;
	border: $border-solid-interactive;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 300;
	color: $color-typography;
	text-indent: 12px;
	background-color: $color-background-2;
	padding: 0;
	transition: border-color, 0.25s;
	margin: 8px 0;

	&::placeholder {
		color: $color-typography-faint;
	}

	&:hover,
	&:focus {
		border-color: $color-accent;
	}

	&.work {
		@include font-graphik;
	}

	&[aria-invalid=true],
	&.status-error,
	&.status-error:focus {
		border-color: $color-red;
	}
}

.textarea {
	@include reset-text-input;
	@include font-maison-500-3;

	resize: none;
	box-sizing: border-box;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.25;
	color: $color-typography;
	border: $border-solid-interactive;
	background-color: $color-background-2;
	border-radius: $size-border-radius;
	padding: 12px;
	margin: 8px 0;

	&:focus,
	&:hover {
		border-color: $color-accent;
	}

	&::placeholder {
		color: $color-typography-faint;
	}
}

.disabled,
.read-only {
	background-color: transparent;
	color: $color-typography-faint;

	&:hover {
		border-color: $color-border-decorative;
	}
}

.input::-webkit-credentials-auto-fill-button {
	/* moves the key icon in Safari outside our login fields */
	margin-right: -24px;
}
