name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: 12

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ env.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.NODE_VERSION }}-

      - name: Install dependencies
        run: npm install

      - name: Check types
        run: npm run test:types

      - name: Run unit tests
        run: npm run test:unit
